// =============================================================================
// :: CTA
// =============================================================================
.c-cta {
  position: relative;
  margin-top: 2rem;
  padding: 8rem 1.6rem 0;

  @include respond-at(get-breakpoint("viewport-4")) {
    padding-top: 10rem;
  }

  @include respond-at(get-breakpoint("viewport-7")) {
    margin-block: 4rem;
    padding-top: 14rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2.4rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Little hack to include footer */
    height: calc(100% + 20rem);

    background-image: url("../images/footer-pink_shape-2.svg");
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: top center;
    z-index: -1;

    @include respond-at(get-breakpoint("viewport-12")) {
      background-image: url("../images/pink-blob.svg");
      background-size: 140% 100%;
      background-position: top -5rem right 30%;
    }
  }
}

// =============================================================================
// :: Elements
// =============================================================================
.c-cta__wrapper {
  @include respond-at(get-breakpoint("viewport-7")) {
    grid-column: 2 / 10;
  }

  @include respond-at(get-breakpoint("viewport-12")) {
    grid-column: 5 / 10;
  }
}

.c-cta__title {
  @include extend-h1-base();
}

.c-cta__description {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: medium;
  margin-top: 1.6rem;
}

.c-cta__actions {
  margin-top: 2.8rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.6rem;

  @include respond-at(get-breakpoint("viewport-4")) {
    flex-direction: row;
  }
}
