// =============================================================================
// :: Footer
// =============================================================================
.c-footer {
  padding: 1.6rem 0;
}

// =============================================================================
// :: Elements
// =============================================================================
.c-footer__content {
  display: flex;
  justify-content: space-between;
  border-top: solid $ultramarine-700 0.1rem;
  padding-top: 1rem;

  @include respond-to(get-breakpoint("viewport-7")) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.c-footer__socials {
  @include respond-to(get-breakpoint("viewport-7")) {
    margin-top: 0.8rem;
  }
}

// =============================================================================
// :: Modifiers
// =============================================================================
.c-footer--bubblegum {
  background-color: $bubblegum;
}
