// =============================================================================
// :: Footer
// =============================================================================
.c-footer {
  margin-top: 4rem;
  padding: 1.6rem 0;
}

// =============================================================================
// :: Elements
// =============================================================================
.c-footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid var(--color-contrast) 0.1rem;
  padding-top: 1rem;
  color: var(--color-contrast);

  * {
    color: var(--color-contrast);
  }
}

.c-footer__text {
  font-size: 1.4rem;

  @include respond-at(get-breakpoint("viewport-7")) {
    font-size: 1.5rem;
  }
}

.c-footer__date {
  @include respond-to(get-breakpoint("viewport-7")) {
    display: none;
  }
}
