// =============================================================================
// :: Footer
// =============================================================================
.c-footer {
  margin-top: 4rem;
  padding: 1.6rem 0;
}

// =============================================================================
// :: Elements
// =============================================================================
.c-footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid $ultramarine-700 0.1rem;
  padding-top: 1rem;
}

.c-footer__text {
  @include respond-to(get-breakpoint("viewport-7")) {
    font-size: 1.4rem;
  }
}

.c-footer__date {
  @include respond-to(get-breakpoint("viewport-7")) {
    display: none;
  }
}
