// =============================================================================
// :: Nav
// =============================================================================
.c-nav {
  text-decoration-thickness: 0.2rem;
  --nav-padding: 0.8rem;

  padding-top: 4rem;

  @include respond-at(get-breakpoint("viewport-4")) {
    padding-top: 6rem;
  }

  @include respond-at(get-breakpoint("viewport-7")) {
    padding-top: 8rem;
  }

  @include respond-at(get-breakpoint("viewport-9")) {
    padding-top: 10rem;
  }

  @include respond-at(get-breakpoint("viewport-12")) {
    padding-top: 10rem;
  }
}

// =============================================================================
// :: Elements
// =============================================================================
.c-nav__logo-container {
  display: flex;
}

.c-nav__logo {
  width: 11rem;
  height: 100%;

  color: var(--color-contrast);

  transition: color 0.2s ease-in-out;

  @include respond-at(get-breakpoint("viewport-7")) {
    width: 14rem;
  }

  @include respond-at(get-breakpoint("viewport-9")) {
    width: 18rem;
  }

  &:hover {
    color: var(--ultramarine-100);
  }
}

.c-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.c-nav__list {
  @include extend-list-clear();

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.c-nav__link {
  position: relative;
  padding: var(--nav-padding);
  display: flex;

  font-family: $font-family-secondary;
  color: var(--color-contrast);
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  transition: color 0.3s ease-in-out;

  cursor: pointer;

  &:hover {
    color: var(--ultramarine-100);
  }

  @include respond-at(get-breakpoint("viewport-4")) {
    font-size: 1.5rem;
  }

  @include respond-at(get-breakpoint("viewport-7")) {
    font-size: 1.6rem;
    padding-inline: 1.6rem;
  }

  @include respond-at(get-breakpoint("viewport-9")) {
    padding-inline: 2.4rem;
  }
}

.c-nav__item:not(:last-child) {
  position: relative;

  &:after {
    content: "|";
    position: absolute;
    top: var(--nav-padding);
    right: 0;
    font-size: 1.2rem;
  }
}

// =============================================================================
// :: Modifiers
// =============================================================================
.c-nav--shapes {
  background-image: url("../images/header-shapes.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;

  @include respond-at(get-breakpoint("viewport-4")) {
    background-size: 100%;
  }

  @include respond-at(get-breakpoint("viewport-7")) {
    background-size: 110%;
  }

  @include respond-at(get-breakpoint("viewport-9")) {
    background-size: 100%;
  }

  @include respond-at(get-breakpoint("viewport-12")) {
    background-size: 85vw;
    background-position: top -10% center;
  }
}

// =============================================================================
// :: States
// =============================================================================
.c-nav__item {
  &.is-active {
    .c-nav__link {
      text-decoration: underline wavy 0.3rem currentColor;
      text-underline-offset: 0.4rem;
      text-decoration-thickness: 0.1rem;

      @include respond-at(get-breakpoint("viewport-7")) {
        text-underline-offset: 0.2rem;
        text-decoration-thickness: 0.2rem;
      }
    }
  }
}
