// =============================================================================
// :: Portfolio
// =============================================================================
.c-portfolio {
  --portfolio-spacing: 2.4rem;

  list-style: none;
  padding: 0;

  display: grid;
  gap: var(--portfolio-spacing);

  @include respond-at(get-breakpoint("viewport-4")) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    align-items: start;
  }

  @media screen and (min-width: 56rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}

// =============================================================================
// :: Elements
// =============================================================================
.c-portfolio__item {
  display: flex;

  cursor: pointer;
}

.c-portfolio__item-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;

  color: var(--ultramarine-700);
  background-size: cover;
  background-position: center center;

  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--ultramarine-400);

    .c-portfolio__item-image {
      transform: scale(1.05);
    }
  }
}

.c-portfolio__image-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.c-portfolio__item-image {
  width: 100%;
  aspect-ratio: 264 / 440;
  object-fit: cover;

  transition: transform 0.3s linear;
  transform-origin: 50%;
}

.c-portfolio__item-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
}

.c-portfolio__item-line {
  flex: 1 0;
  height: 0.1rem;
  border-bottom: solid var(--ultramarine-700) 0.1rem;
  opacity: 0.5;
}

.c-portfolio__item-title,
.c-portfolio__item-category {
  font-family: $font-family-secondary;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.03rem;

  transition: color 0.3s ease-in-out;

  @include respond-at(get-breakpoint("viewport-9")) {
    font-size: 1.7rem;
  }
}

.c-portfolio__item-category {
  font-weight: 400;
}

.c-portfolio\:empty {
  margin-top: 2.4rem;

  color: var(--ultramarine-100);
}

// =============================================================================
// :: Modifiers
// =============================================================================
.c-portfolio--large {
  margin-block: 2rem;

  @include respond-at(get-breakpoint("viewport-7")) {
    margin-block: 4rem;
  }

  @include respond-at(get-breakpoint("viewport-9")) {
    margin-top: 6rem;
  }

  @include respond-at(get-breakpoint("viewport-12")) {
    grid-template-columns: repeat(4, 1fr);
  }
}
