// =============================================================================
// :: Prijzen
// =============================================================================
.c-prijzen {
	margin-top: 4.8rem;

	@include respond-at(get-breakpoint("viewport-4")) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

