// =============================================================================
// :: Prijs
// =============================================================================
.c-prijs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

// =============================================================================
// :: Elements
// =============================================================================
.c-prijs__image {
  height: 20rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include respond-at(get-breakpoint("viewport-4")) {
    height: 40rem;
  }

  @include respond-at(get-breakpoint("viewport-7")) {
    height: 24rem;
  }
}

.c-prijs__title {
  margin-top: 1.6rem;
  font-family: $font-family-secondary;
  font-size: 2rem;
  letter-spacing: 0;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.c-prijs__meta {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: auto;
  padding: 0.8rem 0 0.4rem 0;

  border-top: solid $ultramarine-400 0.1rem;
  border-bottom: solid $ultramarine-400 0.1rem;
}

.c-prijs__amount {
  font-weight: $font-weight-bold;
  font-size: $font-size-1x-large;
}

.c-prijs__info {
  margin-top: 1.6rem;
  font-style: italic;
}
