// =============================================================================
// :: Quote
// =============================================================================
.c-quote {
	padding-left: 1.6rem;

	font-size: $font-size-base;
	font-style: italic;

	border-left: solid $grey-middle 0.1rem;
}
