// =============================================================================
// :: Socials
// =============================================================================
.c-socials {
  @include extend-list-clear();

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

// =============================================================================
// :: Elements
// =============================================================================
.c-socials__link {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  color: $ultramarine-700;
}

.c-socials__icon {
  svg {
    width: 100%;
    height: 100%;

    fill: currentColor;

    transition: fill 0.3s ease-in-out;
  }

  &:hover {
    svg {
      fill: $ultramarine-100;
    }
  }
}
