/* stylelint-disable declaration-no-important */

// =============================================================================
// :: Margin
// =============================================================================
.u-margin-bottom-4\@at-viewport-7 {

	@include respond-at(get-breakpoint("viewport-7")) {
		margin-bottom: 4rem !important;
	}
}

.u-margin-bottom-2\@to-viewport-9 {

	@include respond-to(get-breakpoint("viewport-9")) {
		margin-top: 2rem !important;
	}
}

.u-margin-bottom-auto {
	margin-bottom: auto !important;
}
