// =============================================================================
// :: CONTACT
// =============================================================================
.p-contact__title {
  @include respond-at(get-breakpoint("viewport-9")) {
    font-size: 8rem;
  }
}

.p-contact__description {
  margin-top: 4rem;
  max-width: 84rem;

  * {
    font-size: 2.2rem;
    line-height: 1.2;
    color: var(--color-contrast);

    @include respond-at(get-breakpoint("viewport-9")) {
      font-size: 2.6rem;
    }
  }
}

.p-contact__link {
  margin-top: 4rem;

  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 2.4rem;
  line-height: 1;
  color: var(--color-contrast);
  font-weight: bold;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--color-accent);

    .p-contact__icon {
      transform: translateX(10%);
    }
  }

  @include respond-at(get-breakpoint("viewport-7")) {
    font-size: 4.8rem;
    gap: 0.8rem;
  }

  @include respond-at(get-breakpoint("viewport-9")) {
    font-size: 6.4rem;
    gap: 1rem;
  }
}

.p-contact__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;

  transition: transform 0.2s ease-in-out;

  @include respond-at(get-breakpoint("viewport-7")) {
    width: 3.8rem;
    height: 3.8rem;
  }

  @include respond-at(get-breakpoint("viewport-9")) {
    width: 5rem;
    height: 5rem;
  }
}
