// =============================================================================
// :: P
// =============================================================================
@mixin extend-paragraph-base() {
  font-family: $font-family-secondary;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;

  color: var(--color-contrast);

  @include respond-at(get-breakpoint("viewport-7")) {
    font-size: 1.8rem;
  }
}

// =============================================================================
// :: Small
// =============================================================================
@mixin extend-small-base() {
  font-family: $font-family-secondary;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2;

  color: var(--color-contrast);
}
